Flask==1.0.2
Jinja2==2.10
Flask-Mail==0.9.1
Flask-Cors==3.0.7
Flask-Admin==1.5.2
Flask-ReCaptcha==0.4.2
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
PyMySQL
SQLAlchemy==1.2.15
requests==2.18.4
Flask-Login==0.4.1
Werkzeug==0.15.3


