<configuration>
    <system.webServer>
    <handlers>
       <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule"
        scriptProcessor="D:\Python27\python.exe|D:\Python27\Scripts\wfastcgi.py"
        resourceType="Unspecified" requireAccess="Script"/>
    </handlers>
    <httpErrors errorMode="Detailed" />
  </system.webServer>
  <appSettings>
    <add key="PYTHONPATH" value="D:\home\site\wwwroot" />
    <add key="WSGI_HANDLER" value="D:\home\site\wwwroot\Sterling we need a WSGI app i guess" />
    <add key="WSGI_LOG" value="D:\home\LogFiles\wfastcgi.log"/>
  </appSettings>
</configuration>