<configuration>
    <system.webServer>
    <handlers>
      <add name="Python FastCGI"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="D:\Python27\python.exe|D:\home\site\wwwroot\env\Lib\site-packages\wfastcgi.py"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>
    <httpErrors errorMode="Detailed" />
  </system.webServer>
  <appSettings>
    <add key="PYTHONPATH" value="%SystemDrive%\home\site\wwwroot" />
    <add key="WSGI_HANDLER" value="application.app" />
    <add key="WSGI_LOG" value="%systemDrive%\home\LogFiles\wfastcgi.log"/>
  </appSettings>
</configuration>