<configuration>
    <system.webServer>
    <handlers>
      <add name="Python FastCGI"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="%SystemDrive%\Python36-32\python.exe|%SystemDrive%\python36-32\wfastcgi.py"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="PYTHONPATH" value="%SystemDrive%\home\site\wwwroot" />
    <add key="WSGI_HANDLER" value="application.app" />
    <add key="WSGI_LOG" value="%systemDrive%\home\LogFiles\wfastcgi.log"/>
  </appSettings>
</configuration>