{% extends "base.html" %}

{% block content %}

    <div class="features-clean">
        <div class="container shadow-lg border round bg-light">
            <div class="intro">
                <h2 class="text-center">Why Companies Outsource IT Support</h2>
            </div>
            <div class="row features">
                <div class="col-sm-6 col-lg-4 item"><i class="fas fa-money-bill icon"></i>
                    <h3 class="name">Reduce and control operating costs.</h3>
                    <p class="description">Outsourcing eliminates the costs associated with hiring an employee, including management oversight, training, health insurance, employment taxes, and retirement plans.</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fas fa-fist-raised icon"></i>
                    <h3 class="name">Gain access to exceptional capabilities.</h3>
                    <p class="description">Most IT firms require staff to obtain industry training and current certifications providing a team IT professionals with collective experience.  Companies that outsource an IT firm that specializes in their areas of need, report a much higher return on investment than other companies.</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fas fa-clock icon"></i>
                    <h3 class="name">Free up internal resources for intended purposes.</h3>
                    <p class="description">Outsourcing allows you to retain employees for their highest and best use, rather than wasting their time on things they were not hired to do and that may take them longer than someone who is trained in these specific areas.</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fas fa-hand-holding-usd icon"></i>
                    <h3 class="name">Resources are not available internally.</h3>
                    <p class="description">If hiring for an IT department is not in your budget, outsourcing can be a feasible alternative for the short or long term.</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fas fa-arrow-up icon"></i>
                    <h3 class="name">Maximize restructuring benefits.</h3>
                    <p class="description">When restructuring your company to improve costs, quality, service, or speed, outsourcing is an optimal way to keep your non-core business functions stable.  Don’t sabotage your restructuring efforts by failing to keep up with non-core needs.</p>
                </div>
                 <div class="col-sm-6 col-lg-4 item"><i class="fas fa-sitemap icon"></i>
                    <h3 class="name">Function difficult to manage or out of control aspects.</h3>
                    <p class="description">Outsourcing can help businesses regain control, and successful businesses stay involved with their outsourced team.</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fas fa-file-invoice-dollar icon"></i>
                    <h3 class="name">Make capital funds available.</h3>
                    <p class="description">Outsourcing non-core business functions can allow businesses to spend capital funds on items that are directly related to your product or your customers.</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fas fa-arrow-down icon"></i>
                    <h3 class="name">Reduce Risk.</h3>
                    <p class="description">Keeping up with the technology needed to be a successful business can be expensive and time consuming. Outsourcing a professional team with current knowledge and experience can dramatically reduce the risk of implementing the wrong and potentially costly decision.</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fas fa-plus icon"></i>
                    <h4 class="name">Improve company focus</h4>
                    <p class="description">Outsourcing allows companies to focus on their core competencies.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
